html, body {
    font-size: 10px;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

@page {
    size: A4;
}

.page-title {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.page-title-description {
    margin: 0;
    text-align: center;
    font-style: italic;
}

.content {
    margin-top: 20px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.row:not(:last-child) {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    margin-bottom: 50px;
}

.column {
    -webkit-flex: 1;
}

.title {
    font-weight: bold;
}

p {
    margin: 1px;
}

.line {
    width: 150px;
    border-bottom: 1px solid black;
}

.error {
    color: red;
    border: 1px solid red;
}

.table {
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    line-height: 1.5;
    -webkit-flex: 1 1 auto;
}

.th {
    display: none;
    font-weight: 700;
    text-decoration: underline;
}

.th > .td {
    white-space: normal;
    -webkit-justify-content: center;
}

.tr {
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    margin: 1px;
}

.tfoot {
    font-weight: bold;
}

.tr.tr-centered .td {
    -webkit-justify-content: center;
    -webkit-align-content: center;
}

.td {
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    -webkit-flex-grow: 1;
    -webkit-flex-basis: 0;
    padding: 0.2em;
    word-break: break-word;
    overflow: hidden;
    min-width: 0;
    -webkit-flex-wrap: wrap;
}
