extends common/template

include common/mixins

block title
    title Bill Of Lading

block style
    style.
        .grey-background {
            background-color: lightgrey;
        }

        .box {
            width: 50px;
            height: 12px;
            border: 1px solid black;
            text-align: center;
            vertical-align: center;
            margin-right: 1px;
            border-collapse: collapse;
        }

        .signature-container .td:first-child {
            max-width: 130px;
            font-weight: bold;
        }

        .signature-container .td:nth-child(2) {
            max-width: 60px;
        }

        .box-td {
            margin: 0;
        }

block content
    .content
        .row
            .column
                .table.small-spaces
                    .tr
                        .td Contract Number:
                        .td.td-2
                            +valueWithError(contractNumber)
                    .tr
                        .td Booking Number:
                        .td.td-2
                            +valueWithError(bookingNumber)
                    .tr
                        .td Product:
                        .td.td-2
                            +valueWithError(product.name)
            .column
                .table.small-spaces
                    .tr
                        .td Contact:
                        .td.td-column.td-2
                            +nameWithAddress(contact)
                    .tr
                        .td Phone:
                        .td.td-2
                            +valueWithError(contact.phone)
                    .tr
                        .td Email:
                        .td.td-2
                            +valueWithError(contact.email)
        if (shippersInstructions)
            .row
                .column
                    .underline.red Shipper's Instructions:
                    .red
                        +valueWithError(shippersInstructions)
        .row
            .column
                .underline Shipper/Exporter:
                +nameWithAddress(shipper)
            .column
                .underline Consignee:
                +nameWithAddress(consignee)
            .column
                .underline Notify Party:
                +nameWithAddress(notifyParty)
        .row
            .column-3
                .table
                    .tr
                        .td.bold.td-right
                            +valueWithError(netMt)
                        .td.bold Net Mt
                        .td.td-column.td-2
                            .underline Product Description:
                            div
                                +valueWithError(product.name)
                            div
                                +valueWithError(product.description)
                    .tr
                        .td.bold.td-right
                            +valueWithError(total)
                        .td.td-3
                    .tr
                        .td.td-right Destination Port:
                        .td.td-3
                            span.grey-background
                                +valueWithError(destination.port)
                            span ,
                            +valueWithError(destination.country)
            .column
        .row.packing-list-container
            +listTable(list, true, true)
        - var VGMTotal = 0
        each item in list
            - VGMTotal += item.VGM
        .row.signature-container
            .column
                .table
                    .tr
                        .td Verified Gross Mass (VGM):
                        .td.bold.td-right #{VGMTotal.toFixed(2)}
                        .td
                    .tr
                        .td Signature:
                        .td.line
                        .td
                    .tr
                        .td Printed Name:
                        .td.line
                            +valueWithError(signatureName)
                        .td
                    .tr
                        .td Date:
                        .td.line
                            +valueWithError(signatureDate)
                        .td
                    .tr
                        .td.bold.underline Method of Weighing:
                        .td A
                        .td.box-td
                            span.box
                                if (weighingPackedContainer)
                                    span X
                            span Weighing of a packed/sealed container
                    .tr
                        .td
                        .td B
                        .td.box-td
                            span.box
                                if (weighingAll)
                                    span X
                            span Weighing of all packed cargos plus packing material and Tare Weight
                    .tr
                        .td.bold.underline Unit of Measure:
                        .td A
                        .td.box-td
                            span.box
                                if (pounds)
                                    span X
                            span Pounds (LB)
                    .tr
                        .td
                        .td B
                        .td.box-td
                            span.box
                                if (kg)
                                    span X
                            span Kilograms (Kg)
