extends common/template

include common/mixins

block title
    title Certificate of Weight

block style
    style.
        .row.without-large-padding {
            margin-bottom: 15px;
        }

        .signature-container .tr .td:first-child {
            max-width: 80px;
        }

        .signature-container .tr .td:nth-child(2) {
            max-width: 300px;
        }

block content
    div
        h1.page-title Certificate of Weight
        p.page-title-description Based on certified weight reported by third party transloader.
        .content
            .row
                .column
                    p.title Shipper:
                    +nameWithAddress(shipper)
                .column
                    .table.info-table.small-spaces
                        .tr
                            .td Date:
                            .td
                                +valueWithError(date)
                        .tr
                            .td Booking #
                            .td
                                +valueWithError(booking)
                        .tr
                            .td Contract Number:
                            .td
                                +valueWithError(contractNumber)
                        .tr
                            .td Point and Country of Origin:
                            .td
                                +valueWithError(countryOfOrigin)
                        .tr
                            .td Port of Export:
                            .td
                                +valueWithError(portOfExport)
                        .tr
                            .td Destination Port:
                            .td
                                +valueWithError(destinationPort)
                        .tr
                            .td Vessel:
                            .td
                                +valueWithError(vessel)
            .row
                .column
                    .title Consignee:
                    +nameWithAddress(consignee)
                .column
                    .title Description of Goods:
                    p
                        +valueWithError(product.name)
                    p
                        +valueWithError(product.description)

            .row.without-large-padding
                .column
                    .table
                        .tr
                            .td.bold Metric Tons
                            .td.bold
                                +valueWithError(tons)
                .column-2
            .row.packing-list-container
                +listTable(packingList)

            .row.signature-container
                .table
                    .tr
                        .td Signature:
                        .td.line
                    .tr
                        .td Name:
                        .td
                            +valueWithError(sign.name)
                    .tr
                        .td Title:
                        .td
                            +valueWithError(sign.title)
