extends common/template

include common/mixins

block title
    title Packing List

block style
    style.
        .info-table .tr .td:first-child {
            -webkit-justify-content: flex-end;
            font-weight: bold;
        }

        .packing-list-container {
            -webkit-justify-content: center;
        }

        .packing-list-container .table {
            max-width: 80%;
        }

        .metric {
            font-weight: bold;
            margin-left: 10px;
        }

        .metric-row {
            margin-bottom: 20px;
        }

        .signature-container .tr .td:first-child {
            max-width: 80px;
        }

        .signature-container .tr .td:nth-child(2) {
            max-width: 300px;
        }

block content
    div
        h1.page-title Packing List
        p.page-title-description This material is used for feed production purpose only
        .content
            .row
                .column
                    p.title Shipper:
                    p
                        +valueWithError(shipperName)
                    p
                        +valueWithError(shipperAddress)
                .column
                    .table.info-table.small-spaces
                        .tr
                            .td Date:
                            .td
                                +valueWithError(date)
                        .tr
                            .td Booking #
                            .td
                                +valueWithError(booking)
                        .tr
                            .td Contact Number:
                            .td
                                +valueWithError(contactNumber)
                        .tr
                            .td Point and Country of Origin:
                            .td
                                +valueWithError(countryOfOrigin)
                        .tr
                            .td Port of Export:
                            .td
                                +valueWithError(portOfExport)
                        .tr
                            .td Destination Port:
                            .td
                                +valueWithError(destinationPort)
                        .tr
                            .td Vessel:
                            .td
                                +valueWithError(vessel)
            .row
                .column
                    p.title Consignee:
                    p
                        +valueWithError(consigneeName)
                    p
                        +valueWithError(consigneeAddress)
                .column
                    p.title Description of Goods:
                    p
                        +valueWithError(descriptionOfGoods)
            .row.metric-row
                span.title Metric Tons:
                span.metric
                    +valueWithError(tons)
            .row.packing-list-container
                +listTable(packingList)

            .row.signature-container
                .table
                    .tr
                        .td Signature:
                        .td.line
                    .tr
                        .td Name:
                        .td
                            +valueWithError(signatureName)
                    .tr
                        .td Title:
                        .td
                            +valueWithError(signatureTitle)
